<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% if environment.ELEVENTY_ENV != "production" %}
      <meta name="robots" content="noindex, nofollow"/>
    {% endif %}
    <title>{{ title or metadata.title }}</title>
    <meta
      name="description"
      content="{{ description or metadata.description }}"
/>
    <link rel="icon" type="image/svg+xml" href="/_site/img/favicon.svg"/>
    <script type="module" src="/_site/js/main.js"></script>
  </head>
  <body>
    {% include "partials/header.njk" %}
    {{ content | safe }}
    {% include "partials/footer.njk" %}
  </body>
</html>