---
layout: layouts/base.njk
title: Tischlerei Weißenbek
---

<section class="container mx-auto">
  <div id="galeryCarousel" class="carousel slide relative" data-bs-ride="carousel">
    <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
      <button
      type="button"
      data-bs-target="#galeryCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
      <button
      type="button"
      data-bs-target="#galeryCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
      <button
      type="button"
      data-bs-target="#galeryCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    </div>
    <div class="carousel-inner relative w-full overflow-hidden">
      <div class="carousel-item active relative float-left w-full">
        <img
        src="/_site/img/galery/carousel/1_DSCN1971.jpg"
        class="block w-full"
        alt="Slide 1"
/>
      </div>
      <div class="carousel-item relative float-left w-full">
        <img
        src="/_site/img/galery/carousel/2_DSCN1586.jpg"
        class="block w-full"
        alt="Slide 2"
/>
      </div>
      <div class="carousel-item relative float-left w-full">
        <img
        src="/_site/img/galery/carousel/3_DSCN1922.jpg"
        class="block w-full"
        alt="Slide 3"
/>
      </div>
    </div>
    <button
    class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
    type="button"
    data-bs-target="#galeryCarousel"
    data-bs-slide="prev"
  >
      <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
    class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
    type="button"
    data-bs-target="#galeryCarousel"
    data-bs-slide="next"
  >
      <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<div class="container">
  <!-- Showcase: Kitchen -->

  <section id="showcase-kitchen" class="showcase-gallery showcase-kitchen">
    <div class="row">
      <div class="col-md-3">
        <div class="showcase-heading">
          <span class="h2">Küche</span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/BILD0041.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/BILD0041.jpg"
                    alt=""
/>
            </a>
          </div>

          {# <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1579.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1579.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1580.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1580.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1582.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1582.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1583.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1583.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1584.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1584.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1585.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1585.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1586.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1586.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1598.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1598.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1599.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1599.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1670.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1670.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1671.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1671.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1674.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1674.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/kitchen/DSCN1676.jpg"
                  data-toggle="lightbox"
                  data-gallery="kitchen-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/kitchen/DSCN1676.jpg"
                    alt=""
/>
            </a>
          </div> #}
        </div>
      </div>
    </div>
  </section>

  <hr class="dashed"/>

  <!-- Showcase: Dining Room -->
  {# <section
        id="showcase-dining-room"
        class="showcase-gallery showcase-dining-room"
      >
    <div class="row">
      <div class="col-md-3">
        <div class="showcase-heading">
          <span class="h2">Esszimmer</span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN1964.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN1964.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/327 - Kopie.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/327 - Kopie.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/328 - Kopie.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/328 - Kopie.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/329 - Kopie.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/329 - Kopie.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/330 - Kopie.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/330 - Kopie.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN0657.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN0657.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN0658.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN0658.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN0659.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN0659.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN0660.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN0660.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN0664.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN0664.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN0665.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN0665.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN0667.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN0667.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN1933.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN1933.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN1934.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN1934.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN1935.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN1935.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/dining-room/DSCN1936.jpg"
                  data-toggle="lightbox"
                  data-gallery="dining-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/dining-room/DSCN1936.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="dashed"/> #}

  <!-- Showcase: Living Room -->

  {# <section
        id="showcase-living-room"
        class="showcase-gallery showcase-living-room"
      >
    <div class="row">
      <div class="col-md-3">
        <div class="showcase-heading">
          <span class="h2">Wohnzimmer</span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/living-room/DSCN0420.jpg"
                  data-toggle="lightbox"
                  data-gallery="living-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/living-room/DSCN0420.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/living-room/DSCN0422.jpg"
                  data-toggle="lightbox"
                  data-gallery="living-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/living-room/DSCN0422.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/living-room/DSCN0424.jpg"
                  data-toggle="lightbox"
                  data-gallery="living-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/living-room/DSCN0424.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/living-room/DSCN0428.jpg"
                  data-toggle="lightbox"
                  data-gallery="living-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/living-room/DSCN0428.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/living-room/DSCN0431.jpg"
                  data-toggle="lightbox"
                  data-gallery="living-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/living-room/DSCN0431.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/living-room/DSCN0442.jpg"
                  data-toggle="lightbox"
                  data-gallery="living-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/living-room/DSCN0442.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/living-room/DSCN0443.jpg"
                  data-toggle="lightbox"
                  data-gallery="living-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/living-room/DSCN0443.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/living-room/DSCN0444.jpg"
                  data-toggle="lightbox"
                  data-gallery="living-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/living-room/DSCN0444.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/living-room/DSCN0445.jpg"
                  data-toggle="lightbox"
                  data-gallery="living-room-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/living-room/DSCN0445.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="dashed"/> #}

  <!-- Showcase: Bathroom -->

  {# <section
        id="showcase-bathroom"
        class="showcase-gallery showcase-bathroom"
      >
    <div class="row">
      <div class="col-md-3">
        <div class="showcase-heading">
          <span class="h2">Badezimmer</span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/bathroom/DSCN1589.jpg"
                  data-toggle="lightbox"
                  data-gallery="bathroom-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/bathroom/DSCN1589.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/bathroom/DSCN1591.jpg"
                  data-toggle="lightbox"
                  data-gallery="bathroom-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/bathroom/DSCN1591.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/bathroom/DSCN1593.jpg"
                  data-toggle="lightbox"
                  data-gallery="bathroom-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/bathroom/DSCN1595.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/bathroom/DSCN1782.jpg"
                  data-toggle="lightbox"
                  data-gallery="bathroom-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/bathroom/DSCN1782.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/bathroom/DSCN1783.jpg"
                  data-toggle="lightbox"
                  data-gallery="bathroom-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/bathroom/DSCN1783.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/bathroom/DSCN1786.jpg"
                  data-toggle="lightbox"
                  data-gallery="bathroom-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/bathroom/DSCN1786.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="dashed"/> #}

  <!-- Showcase: Entrance -->

  {# <section
        id="showcase-entrance"
        class="showcase-gallery showcase-entrance"
      >
    <div class="row">
      <div class="col-md-3">
        <div class="showcase-heading">
          <span class="h2">Vorzimmer &amp; Eingangstür</span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/117.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/117.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/118.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/118.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/119.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/119.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/120.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/120.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/121.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/121.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/122.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/122.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/123.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/123.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/124.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/124.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/DSCN1931.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/DSCN1931.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/DSCN1928.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/DSCN1928.jpg"
                    alt=""
/>
            </a>
          </div>

          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/DSCN1930.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/DSCN1930.jpg"
                    alt=""
/>
            </a>
          </div>
          <div class="col-md-4">
            <a
                  href="../img/galery/entrance/DSCN1600.jpg"
                  data-toggle="lightbox"
                  data-gallery="entrance-gallery"
                  data-type="image"
                >
              <img
                    class="showcase-img img-fluid"
                    src="../img/galery/entrance/DSCN1600.jpg"
                    alt=""
/>
            </a>
          </div>
        </div>
      </div> 
    </div>
  </section>#}
</div>