---
layout: layouts/base.njk
title: Tischlerei Weißenbek
---

<section class="container mx-auto my-[30px]">
  <div class="flex flex-col items-left text-lg leading-relaxed">
    <p class="text-4xl font-bold">Impressum</p>

    <p class="text-2xl leading-loose font-semibold">Angaben gem&auml;&szlig; &sect; 5 TMG</p>
    <p>Johann Wei&szlig;enbek<br/>
      Tischlerei Wei&szlig;enbek<br/>
      Dr. Lenz-Weg 7<br/>
      4470 Enns</p>

    <p class="text-2xl leading-loose font-semibold">Kontakt</p>
    <p>Telefon: 0676 / 92 46 386<br/>
        E-Mail: office@weissenbek.at</p>

    <p class="text-2xl leading-loose font-semibold">Umsatzsteuer-ID</p>
    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:
    ATU 6542 7255</p>

    <p class="text-2xl leading-loose font-semibold">Verbraucher&shy;streit&shy;beilegung &nbsp;/&nbsp;Universal&shy;schlichtungs&shy;stelle</p>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

    <p class="leading-loose">Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>
  </div>
</section>
