---
layout: layouts/base.njk
title: Tischlerei Weißenbek
---

<section
  class="h-screen max-h-[400px] md:max-h-[600px] bg-[url('/_site/img/homepage/hero.jpg?width=640')] md:bg-[url('/_site/img/homepage/hero.jpg?width=960')] xl:bg-[url('/_site/img/homepage/hero.jpg?width=1920')] bg-center bg-cover"
>
  <div class="container-fluid px-10 mx-auto h-full flex bg-black/50">
    <h1
      class="m-auto max-w-md md:max-w-2xl text-3xl md:text-5xl text-center text-white font-bold drop-shadow"
    >
      <img
          class="w-[300px] md:w-[450px] lg:w-[700px] xl:w-[900px]"
          src="/_site/img/logo.svg"
          alt="Logo of Weissenbek Company"
/>
    </h1>
  </div>
</section>

<section class="pt-10 pb-20 h-[800px]">
  <div class="container mx-auto px-10 h-full flex">
    <p class="m-auto text-4xl md:text-6xl text-center font-bold">Site under construction.</p>
  </div>
</section>