---
layout: layouts/base.njk
title: Welcome to Bytegrasp OG
---

<section class="pt-10 pb-20 h-[800px]">
  <img class="d-block img-fluid"
              src="/_site/img/galery/carousel/2_DSCN1586.jpg"
              alt=""
/>
  <div class="container mx-auto px-10 h-full flex">
    <h1 class="m-auto text-4xl md:text-6xl text-center font-bold">Site under construction.</h1>
  </div>
</section>