<section id="footer">
    <div class="container">
      <div class="row ">
        <div class="col-md-4">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row">
              <i class="fas fa-map-marker-alt fa-2x"> </i>
              <div class="d-flex flex-column ml-3">
                <span class="h2">
                  Firmensitz
                </span>
                <span class="h5"> Dr. Lenz-Weg 7</span>
                <span class="h5"> 4470 Enns </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row">
              <i class="fas fa-phone-alt fa-2x"> </i>
              <div class="d-flex flex-column ml-3">
                <span class="h2">
                  Telefon
                </span>
                <span class="h5"> 0676 / 92 46 386</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row">
              <i class="fas fa-envelope fa-2x"> </i>
              <div class="d-flex flex-column ml-3">
                <span class="h2">
                  E-Mail
                </span>
                <span class="h5"> office@weissenbek.at </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
