<section id="footer" class="bg-[url('/_site/img/footer.jpg')] bg-cover bg-center">
  <div class="backdrop-brightness-10 bg-black/30">
    <div class="container mx-auto text-white" >
      <div class="py-[15px] md:py-[30px] lg:py-[150px]">

        <div class="grid grid-cols-1 md:grid-cols-3 mx-auto lg:mx-[50px] items-center">
          <div class="flex flex-row my-[20px] lg:my-[10px]">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-9 md:h-9 lg:h-12 lg:w-12" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/>
            </svg>
            <div class="flex flex-col">
              <span class="text-2xl md:text-4xl lg:text-5xl">Firmensitz</span>
              <p class="pt-2 text-xl md:text-2xl lg:text-3xl"> 4470 Enns </p>
              <p class="pt-1 text-xl md:text-2xl lg:text-3xl"> Dr. Lenz-Weg 7</p>
            </div>
          </div>

          <div class="flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-9 md:h-9 lg:h-12 lg:w-12" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"/>
            </svg>
            <div class="flex flex-col">
              <span class="text-2xl md:text-4xl lg:text-5xl">Telefon</span>
              <p class="pt-2 text-xl md:text-2xl lg:text-3xl"> 0676 / 92 46 386  </p>
              <p class="pt-1 text-xl md:text-2xl lg:text-3xl"> &nbsp;</p>
            </div>
          </div>

          <div class="flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-9 md:h-9 lg:h-12 lg:w-12" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
            </svg>
            <div class="flex flex-col">
              <span class="text-2xl md:text-4xl lg:text-5xl">E-Mail</span>
              <p class="pt-2 text-xl md:text-2xl lg:text-3xl"> office@weissenbek.at </p>
              <p class="pt-1 text-xl md:text-2xl lg:text-3xl"> &nbsp;</p>
            </div>
          </div>
        </div>

      </div>
      <div class="flex flex-row py-[10px]">
        <a class="flex-0 mx-auto text-xl text-white" href="/imprint"
            >Impressum</a
          >
      </div>
    </div>
  </div>
</section>