<section class="py-4">
  <div class="container mx-auto px-10">
    <nav
      class="flex flex-row flex-wrap items-center"
      x-data="{ dropdown: false }"
    >
      <a href="/">
        <img
          class="w-36 sm:w-60 md:w-80"
          width="328"
          height="80"
          src="/_site/img/logo.svg"
          alt="Logo of Weissenbek Company"
        />
      </a>
      <div class="grow flex flex-row items-center justify-end md:hidden">
        <button
          @click="dropdown = !dropdown"
          @click.away="dropdown = false"
          type="button"
          aria-label="Menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 text-[#474444] hover:text-black"
            width="40"
            height="40"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              x-show="!dr opdown"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
            <path
              x-cloak
              x-show="dropdown"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <ul
        x-cloak
        class="
          my-6
          w-full
          text-right
          flex-col
          gap-8
          md:my-0
          md:w-auto
          md:text-left
          md:grow
          md:flex md:flex-row
          md:gap-4
          md:justify-end
        "
        x-bind:class="dropdown ? 'flex' : 'hidden'"
      >
        <li>
          <a class="text-3xl text-[#474444] hover:text-black" href="/"
            >Startseite</a
          >
        </li>
        <li>
          <a class="text-3xl text-[#474444] hover:text-black" href="/galery/"
            >Galerie</a
          >
        </li>
      </ul>
    </nav>
  </div>
</section>
